:root {
    --container-paddding: 20px;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 4px;
    --input-margin-vertical: 0px;
    --input-margin-horizontal: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

ol,
ul {
    padding-left: var(--container-paddding);
}

body > *,
form > * {
    margin-block-start: var(--input-margin-vertical);
    margin-block-end: var(--input-margin-vertical);
}

*:focus {
    outline-color: var(--vscode-focusBorder) !important;
}

label {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
    color: var(--vscode-input-foreground);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.rightmost-nav {
    position: absolute;
    right: 0;
}

.controls{
    display: block;
    width: 100%;
    height: 2.5em;
    padding: 5px;
    margin-top: 0;
    background: var(--vscode-editor-background);
}

.controls button i {
    display: flex;
    margin-right: 0.3em;
}

.displayContents {
    position: fixed;
    display: table;
    width: 100%;
    height: 100%;
}

.displayContents > div {
    display: table-row;
    width: 100%;
}

.headercontent {
    display: table-cell;
    width: 100%;
    height: 2em;
}
.header nav {
    display: flex;
}

.header nav button {
    border: none;
    padding: 5px 0em 5px 4px;
    display: flex;
    text-align: right;
    float: right;
    outline: 1px solid transparent;
    outline-offset: 2px !important;
    color: var(--vscode-icon-foreground);
    background: none;
    margin: 0 0.3em;
    border-radius: 5px;
}

.header {
    background-color: var(--vscode-editor-background);
}

.header>nav>button>i>svg{
    color: var(--vscode-icon-foreground);
}

.header nav button li svg {
    padding: 4px 0em 6px 4px;
}

.header nav button:hover:not(:disabled) {
    cursor: pointer;
    background: var(--vscode-toolbar-hoverBackground);
}

.header nav button:disabled {
    opacity: 0.5;
}

.header nav button:focus {
    outline-color: var(--vscode-focusBorder);
}

.content iframe {
    display: table-cell;
    width: 100%;
    height: 100%;
    background: var(--vscode-sideBar-background); 
}

select {
    display: block;
    width: 130px;
    border: none;
    border-radius: 0;
    height: 30px;
    font-family: var(--vscode-font-family);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    color: var(--vscode-input-foreground);
    outline-color: var(--vscode-input-border);
    background-color: var(--vscode-input-background);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}


select option {
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
}


input::placeholder,
textarea::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

.extras-menu {
    position: absolute;
    margin-top: 43px;
    z-index: 2;
    right: 0px;
    background-color: var(--vscode-input-background);
}
.extras-menu table {
    background-color: var(--vscode-input-background);
    padding: 0.5em 2em;
    box-shadow: 0 0px 5px rgb(0 0 0 / 0.2);
}